$text-color: #474747;
$button-color: #4B6374;
$white:#FFFFFF;
$header-bg-color:#F6F6F6;
$form-bg-color:#E9E9E9;
$border-grey:#B9B9B9;
$border-blue-grey:#89A5B2;
$form-padding:20px;
$form-margin:20px;
$success-color:#8BC34A;
$error-color:#DF002C;
$outline-color:#94AEB8;
$submit-button-color:#89A5B2;
$text-blue:#89A5B2;

html{
  padding:15px;
}

.container.shop-form-container{

  .fieldset-wrapper{
    background-color:$form-bg-color;
    padding:$form-padding;
  }
  #gender-radios-wrapper{
     border: 1px solid $white; 
     padding:10px;
      label{
        margin:0px;
        width:60px;
          input{
            margin-right:5px;
          }
      }
  }
  #agree-checkbox-wrapper{
    display:flex;
    align-items:center;
    border: 1px solid $white;
    padding:10px;
      input{
          margin-right:10px;
      }
      label{
        margin:0px;
        a{
          text-decoration: underline;
        }
      }
  }
  
  label.error.success{
    color:$success-color;
  }
  label.error{
    color:$error-color;
  }
  input:focus{
    outline-color:$outline-color;
    border: 1px solid $outline-color;
  }
  input.error:focus{
    outline-color:$error-color;
    border:1px solid $error-color;
  }
  input.valid:focus{
    outline-color:$success-color;
    border:1px solid $success-color;
  } 
  input.error{
    border:1px solid $error-color;
  }
  input.valid{
    border:1px solid $success-color;
  }
  .form-headline{
    background-color:$header-bg-color;
    border-bottom:1px solid $border-blue-grey;
    padding:$form-padding;
    margin-bottom:$form-margin;
  }
  .shop-form{
    border:1px solid $border-grey;
    padding:$form-padding;
    padding-bottom:60px;
    // background-color:$form-bg-color;
     
      fieldset{
           #Gender-error,#agree-error {
               padding-left:0;
           }
           .form-input-block{
            margin-top:20px;
            width:100%;
               .input-wrapper{
                    display:flex;
                    flex-wrap:wrap;
                    label{
                      width:35%;
                    }
                    label.error,label.error.success{
                        width:100%;
                        padding-left:35%;
                    }
                    input[type=text],input[type=email],input[type=password]{
                      width:65%;
                    }
                    .agree-label{
                      width:100%;
                    }
               }/*input-wrapper*/
           }/*form-input-block*/
      }/*fieldset*/
    
  }/*.shop-form*/
  .submit{
    background-color:$submit-button-color;
    color:$white;
    float:right;
    padding:10px 80px 10px 80px;
    margin-top:10px;
  }
  clear:both;
}/*.container.shop-form-container*/



.shop-form-container{
  *{
    color:$text-color;
    font-weight:300;
    font-size:12px;
  }
}



#myModal{
   padding:20px;
  .modal-dialog{
      border:1px solid $white;
      background-color:rgba(255,255,255,.3);
      *{
        font-weight:200;
      }
       padding:20px;
      .modal-content{
          .modal-header{
              position:relative;
              // margin:auto;
                .modal-title{
                    border-bottom:1px solid $border-blue-grey;
                    width:100%;
                    text-align:center;
                }
                button.close{
                  display:flex;
                  align-items:center;
                  justify-content:center;
                  position:absolute;
                  width:30px;
                  height:30px;
                  border:1px solid $white;
                  right: -50px;
                  top: -50px;
                  border-radius:50%;
                  color:$white;
                  opacity:1;
                  &:hover{
                      opacity:.75;
                  }
                }/*button.close*/
          }/*.modal-header*/
          .modal-body{
               max-height: 80vh;
               overflow-y: scroll;
              .modal-sub-title{
                   color:$text-blue;
                   padding-bottom:5px;
                   border-bottom:1px solid $border-blue-grey;
              }
          }/*.modal-body*/
      } /*.modal-content*/
  }/*modal-dialog*/
   
}/*#myModal*/



@media only screen and (min-width: 768px ){
    .container.shop-form-container{
        *{
          color:$text-color;
          font-weight:300;
          font-size:18px;
        }
    }
}


@media only screen and (min-width: 992px ){
    .container.shop-form-container{
        .shop-form{
            #regular-info-input-group{                
               #Gender-error,#agree-error {
                   padding-left:0;
               }
               .form-input-block{
                float:left;
                margin:auto;
                width: calc(( 100% - 10px ) / 2);
                   &:nth-child(1),&:nth-child(3),&:nth-child(5){
                     margin-right:10px;
                   }
                   .input-wrapper{
                        display:flex;
                        flex-wrap:wrap;
                        width:100%;
                        label{
                          width:100%;
                        }
                        label.error,label.error.success{
                            width:100%;
                            padding-left:0px;
                        }
                        input[type=text],input[type=email],input[type=password]{
                          width:100%;
                        }
                        .agree-label{
                          width:100%;
                        }
                   }/*input-wrapper*/
               }/*form-input-block*/
          }/*fieldset*/
        }/*.shop-form*/

    }
  
  
  .modal-dialog{
    max-width:700px
  }
}

